html {
  scroll-behavior: smooth
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  color: #2C4159;
  letter-spacing: -0.2px;
  background: #F2F2F2;
}

label.error{
    color: #ef2e2e !important;
} 
.error_validation{
    position: absolute; 
    margin-top: -35px; 
    opacity: 0;width:0px;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

/*Font sizes and weights*/

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

/*Font sizes and weights*/

/*Buttons and links*/

a:hover, a:focus, a:active,span:hover, span:focus, span:active,button,button:focus,button:active{
  text-decoration: none;
  outline: 0px none;
  box-shadow: 0;
  transition: all 0.5s linear;
}
.btn:focus, .btn.focus{
  box-shadow: none;
}
a:hover, a:focus, a:active, button:hover, button:focus, button:active, div:hover, svg:hover, h4:hover, select:hover, select:focus, input:hover, input:focus {
  transition: all 0.5s linear;
}

input[type="file"] {
  width: 90%;
  font-size: 12px;
}

.btn-primary-mro {
  display: inline-block;
  padding: 11px 15px 11px 15px;
  background: #2C4159;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #fff;
  border: 1px solid #2C4159;
  border-radius: 2px;
  text-align: center;
  box-shadow: none
}

.btn-primary-mro:hover, .btn-primary-mro:focus, .btn-primary-mro:active {
  color: #fff;
  background: #1F2E3F;
  border: 1px solid #1F2E3F;
}

.btn-primary-mro.disabled {
  color: #fff;
  background: #8795A5;
  border: 1px solid #8795A5;
}

.btn-secondary-mro, .btn-secondary-mro:hover, .btn-secondary-mro:focus, .btn-secondary-mro:active {
  display: inline-block;
  padding: 11px 15px 11px 15px;
  background: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #2C4159;
  border: 1px solid #2C4159;
  border-radius: 2px;
  text-align: center;
  box-shadow: none
}

.btn-primary-mro img, .btn-secondary-mro img, .btn-transparent-mro img {
  height: 11px;
  margin: 0 3px 0 0;
}

.btn-transparent-mro, .btn-transparent-mro:hover, .btn-transparent-mro:focus, .btn-transparent-mro:active {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #2C4159;
  border: 2px solid #2C4159;
  border-radius: 2px;
  text-align: center;
  box-shadow: none
}

.btn-grey-mro, .btn-grey-mro:hover, .btn-grey-mro:focus, .btn-grey-mro:active {
  display: inline-block;
  padding: 11px 15px 11px 15px;
  background: linear-gradient(180deg, #F8F9FA 0%, #EEF0F2 100%);
  border: 0.6px solid #B3BCC6;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #41556D;
  text-align: center;
  box-shadow: none
}

.btn-grey-mro.disabled {
  color: #D8D8D8;
}

/*Buttons and links*/

/*Common styles*/

a, a:hover, a:focus, a:active, input, input:focus, input:active, button, button:hover, button:focus, button:active, select, select:focus, select:active {
  text-decoration: none;
  outline: 0px none;
}

a, a:hover, a:focus, a:active {
  color: #2C4159;
}

button, button:hover, button:focus, button:active {
  border: 0px;
  background: transparent
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 500;
}

.w100 {
  width: 100%;
}

/*Common styles*/

/*Navigation*/

header {
  background: #fff;
}

.bulkmro-nav-container {
  padding: 15px 0;
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-wrapper-left {
  flex: 0 0 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.nav-wrapper-right {
  flex: 0 0 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

/* .nav-logo {
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  border-right: 1px solid #E0DFDF;
} */

.menu-dropdown-wrapper {
  position: relative;
}

.menu-link, .menu-link:hover, .menu-link:focus, .menu-link:active {
  display: inline-block;
  padding: 0 15px 0 30px;
  background-image: url(../images/menu-line.svg), url(../images/menu-line.svg);
  background-position: top 6px left, bottom 6px left;
  background-repeat: no-repeat, no-repeat;
  font-size: 19.2px;
  line-height: 23px;
  font-weight: 500;
  color: #2C4159;
}

.profile-link, .profile-link:hover, .profile-link:focus, .profile-link:active {
  display: inline-block;
  padding: 0 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.627451px;
  color: #2C4159;
}

.avatar-profile {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 1001;
  display: none;
}

.profile-dropdown {
  position: absolute;
  left: -59px;
  top: 50px;
  z-index: 1001;
  display: none;
}

.is-active {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 660px;
  padding: 35px;
  background: #F0F2F6;
  border: 1px solid #F4F4F4;
}

.dropdown-content.profile-dropdown-content {
  min-width: 180px;
  width: 180px;
  padding: 20px 15px;
}

.profile-dropdown-content .dropdown-col-single {
  flex: 0 0 160px;
  max-width: 160px;
  width: 160px;
}

.dropdown-col-single {
  flex: 0 0 165px;
  max-width: 165px;
  width: 165px;
  margin-right: 30px;
}

.dropdown-col-single h3 {
  margin: 0 0 10px 0;
  padding: 0 0 7px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid #DADFE7
}

.menu-links li a, .menu-links li a:hover, .menu-links li a:focus, .menu-links li a:active {
  display: block;
  padding: 4px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #8C97A3;
}

.menu-links li a:hover, .menu-links li a:focus, .menu-links li a:active {
  background: #DFE5F0;
  border-radius: 2px;
  ;
}

.menu-search {
  flex: 0 0 50%;
}

#search-admin, #search-admin:hover, #search-admin:focus, #search-admin:active {
  width: 100%;
  padding: 8px 8px 8px 35px;
  background: #F9F9F9 url('../images/search-menu-icon.svg') no-repeat top 8px left 15px;
  border: 1px solid #E0E2E7;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.470588px;
  color: #7B8FA5;
}

.nav-divider {
  margin: 0 15px;
  height: 40px;
  border-left: 1px solid #E0DFDF
}

/*Navigation*/

.title-sec-wrapper {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-sec-left, .title-sec-right {
  flex: 0 0 50%;
}

.title-sec-left {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.title-sec-right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.title-sec-right a {
  margin-left: 10px;
}

.breadcrumb {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0 0 5px 0;
  padding: 0;
  background: transparent;
}

.breadcrumb p, .breadcrumb span, .breadcrumb a, .breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #F48500;
}

.breadcrumb span {
  margin: 0 2px;
  font-size: 10px;
  font-weight: 500;
}

.page-title-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-title-wrapper .nav-divider {
  height: 25px;
}

.page-title-wrapper .cs-status-text .last-update-title, .page-title-wrapper .cs-status-text .last-update-name {
  margin: 0 0 0 15px;
}

.page-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.823529px;
  color: #2C4159;
}

.page-title a.title-icon {
  position: relative;
  top: -2px;
}

.filter-sec-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.filter-sec-wrapper .filter-search, .filter-sec-wrapper select {
  margin: 5px 5px 5px 0;
}

.filter-search {
  flex: 0 0 20%;
  max-width: 20%;
}

.filter-search-input {
  width: 100%;
  padding: 12px 12px 12px 35px;
  background: #fff url('../images/search-menu-icon.svg') no-repeat top 13px left 13px;
  border-radius: 3px;
  border: 0px none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.184615px;
  color: #9AA1AA;
}

.select-mro {
  padding: 12px;
  border: 0px none;
  background: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #2C4159;
}

.select-xl {
  width: 200px;
}

.select-large {
  width: 150px
}

.select-medium {
  width: 100px
}

.select-small {
  width: 70px
}

.container-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-single-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 6px 0;
  padding: 8px 10px;
  background: #fff;
}

.cs-info {
  display: flex;
  flex: 0 0 200px;
  max-width: 200px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.cs-info-cta {
  flex: 0 0 60px;
  max-width: 60px;
  margin: 0 10px 0 0;
}

.cs-status-text {
  flex: 0 0 130px;
  max-width: 130px;
}

.container-single-wrapper .cs-status-text {
  padding: 0 10px 0 0;
}

.container-single-wrapper .cs-status-text .container-status {
  text-align: left;
}

.cs-status-text .container-number {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.184615px;
  color: #2C4159;
}

.cs-status-text .container-status {
  padding: 4px 9px;
  background: #41556D;
  border-radius: 3px;
  font-weight: 500;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  width: fit-content
}

.cs-status-text .last-update-title {
  margin: 20px 0 0 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.184615px;
  color: #D8D8D8;
}

.cs-status-text .last-update-name, .cs-status-text .last-update-date {
  font-size: 12px;
  line-height: 14px;
  /* display: flex;
  align-items: center; */
  letter-spacing: -0.184615px;
  color: #2C4159;
}

.cs-status-wrapper {
  position: relative;
  flex: 0 0 83%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start
}

.connector {
  position: absolute;
  top: 20px;
  left: 0;
  width: 90%;
  border-top: 2px solid #D8D8D8
}

.css-single {
  position: relative;
  flex: 0 0 10%;
  max-width: 10%;
  padding: 0 5px 0 0;
  word-wrap: break-word;
}

.css-flag {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.css-green {
  background: #8FC144 url('../images/check-green.svg') no-repeat center;
}

.css-red {
  background: #DA100B url('../images/block-red.svg') no-repeat center;
}

.css-yellow {
  background: #D4B011 url('../images/danger-yellow.svg') no-repeat center;
}

.css-grey {
  background: #D8D8D8 url('../images/block-grey.svg') no-repeat center;
}

.css-single-data {
  margin: 5px 0 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.184615px;
  color: #2C4159;
}

.css-single-data-title {
  font-size: 14px;
  font-weight: 700;
}

.shipping-info-top {
  margin: 0 0 5px 0;
  padding: 20px;
  background: #fff;
}

.sec-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.246154px;
  color: #2C4159;
}

.separator {
  margin: 15px 0;
  border-top: 8px solid#EBEBEB;
}

.sit-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0 20px 0;
}

.sit-single {
  flex: 0 0 13%;
  margin: 0 5px 0 0;
  word-wrap: break-word;
}

.sit-single-title {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #2C4159;
}

.sit-single-value {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #727C88;
}

.mro-tabs-container nav {
  background: #E0E2E7;
}

.mro-tabs-container .nav-tabs .nav-link {
  padding: 15px 15px 15px 15px;
  background: #E0E2E7;
  border: 1px solid #ECEEF2;
  border-radius: 5px 5px 0px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.54902px;
  color: #8C97A3;
}

.mro-tabs-container .nav-tabs .nav-link.active {
  background: #FFFFFF;
  color: #2C4159;
}

.tab-content-wrapper {
  padding: 40px;
  background: #fff;
}

.page-content-wrapper {
  padding: 30px;
  background: #fff;
  width: 100%;
}

.form-row {
  margin-left: 0;
  margin-right: 0;
}

.form-row.form-row-4 .form-group {
  flex: 0 0 23%;
  margin-right: 2%;
}

.form-row.form-row-3 .form-group {
  flex: 0 0 31.3333%;
  margin-right: 2%;
}

.form-row.form-row-2 .form-group {
  flex: 0 0 48%;
  margin-right: 2%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #2C4159;
}

.form-group label {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.2px;
  color: #687686;
}

sup {
  color: #f00;
  z-index: 1;
}

.multiselect-dropdown-wrapper,.singleselect-dropdown-wrapper {
  position: relative;
}

.md-value,.sd-value {
  background-image: url('../images/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.md-list-wrapper,.sd-list-wrapper {
  position:absolute;
  top:43px;
  left:0;
  display:none;
  width:100%;
  padding: 15px 0;
  background: #fff;
  border: 1px solid #ECEEF2;
  border-top: 0px none;
  border-radius: 4px;
  z-index: 2;
}

.is-active {
  display: block;
}

.md-search, .sd-search {
  display: block;
  width: 90%;
  margin: 0 5%;
  padding: 5px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #687686;
  border: 0px none;
  border-bottom: 1px solid #ECEEF2;
}

.md-list-items, .sd-list-items {
  height: 150px;
  overflow-y: auto;
  word-break: break-all;
  ;
}

.mdli-single, .sdli-single {
  padding: 4px 5% 1px 5%;
}

.mdli-single:hover, .sdli-single:hover {
  background: #E7E9ED;
}

.mdli-single label, .sdli-single label {
  padding: 5px 0 5px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #2C4159;
  border-bottom: 0px none;
}

.sdli-single label {
  margin: 0;
  padding: 5px 0 7px 0;
}

.mdli-single .checkmark-checkbox {
  top: 4px
}

.md-cta {
  padding: 12px 0 0 0;
  margin: 0 5%;
  border-top: 1px solid #ECEEF2;
}

.md-cta a:first-child {
  margin: 0 5px 0 0;
}

.md-list-btn, .sd-list-btn {
  margin: 10px 5%;
}

.input-form-mro, .select-form-mro, .md-value, .sd-value {
  width: 100%;
  padding: 12px 13px;
  background-color: #fff;
  border: 2px solid #ECEEF2;
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.2px;
  color: #2C4159;
}

.input-form-mro:hover, .input-form-mro:focus.input-form-mro:focus, .input-form-mro:focus:active, .select-form-mro:hover, .select-form-mro:focus, .select-form-mro:active, .md-value:hover, .md-value:focus, .md-value:active, .sd-value:hover, .sd-value:focus, .sd-value:active {
  border: 2px solid #687686
}

.input-form-mro.error, .select-form-mro.error {
  border: 2px solid #F24346
}

.input-form-mro:disabled {
  background: #F7F7F7;
  color: #687686;
}

.select-form-mro {
  padding: 11px 13px;
}

.form-group.input-edit .input-form-mro, .form-group.input-edit .select-form-mro {
  width: 80%;
  margin-right: 10px;
}

.bp-list-wrapper .table thead th, .bp-list-wrapper .table td {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.184615px;
  color: #2C4159;
}

.bp-list-wrapper.table th, .bp-list-wrapper .table td {
  padding: 5px 10px;
  border-top: 1px solid #E0E2E7;
}

.bp-list-wrapper .table td {
  font-weight: 400;
  vertical-align:middle
}

table.table-striped {
  border: 1px solid #E0E2E7;
}

.table-striped thead tr, .table-striped tbody tr:nth-of-type(even) {
  background: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #F1F3F6
}

.mxw-980 {
  max-width: 980px;
}

.scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.scroll-content-left {
  flex: 0 0 80%;
}

.scroll-content-right {
  flex: 0 0 20%;
}

.scroll-content-right {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
  top: 30px;
}
.vertical-scroll-links{
  padding-left:40px;
}
.vertical-scroll-links a {
  position: relative;
  display: block;
  margin: 0 0 16px 0;
  padding: 0 0 0 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.470588px;
  color: rgba(44, 65, 89, 0.56)
}

.vertical-scroll-links a.active {
  color: rgba(44, 65, 89, 1)
}

.vertical-scroll-links a.active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: #EC8F29;
}

.add-more-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.627451px;
  color: #2C4159;
}

.add-more-link img {
  margin: 0 5px 0 0
}

.bp-view-details .sit-single {
  flex: 0 0 19%;
}

.billing-address-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.ba-single {
  flex: 0 0 23%;
  padding: 0 10px 0 0;
  margin: 0 10px 20px 0;
  border-right: 1px solid #A1AAB5;
}

.ba-single:nth-child(4n) {
  margin: 0;
  padding: 0;
  border-right: 0px none;
}

.bas-title, .bas-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.2px;
}

.bas-title {
  font-weight: 500;
  margin: 0 0 3px 0;
  color: #2C4159;
}

.bas-text {
  margin: 0 0 6px 0;
  color: #727C88;
}

.list-table .cs-status-text .last-update-title {
  margin: 0;
}

.list-table th, .list-table td {
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
}

.list-table th {
  font-weight: 500;
  color: #2C4159;
}

.list-table td {
  position: relative;
  color: #727C88;
  vertical-align: middle;
}

.ba-single.ba-select {
  margin: 20px 0 0 0;
  padding: 0;
  border: 0px none;
}

.sku-list-wrapper {
  width: 100%;
}

.sku-list-wrapper .sit-row {
  padding: 0 0 20px 0;
  border-bottom: 2px solid #EBEBEB;
}

.sku-list-wrapper .sit-row:last-of-type {
  padding: 0;
  border-bottom: 0px none;
}

.sit-single.sku-pd {
  flex: 0 0 35%;
}

.sit-single.sku-size {
  flex: 0 0 80px
}

.sit-single.sku-qty {
  flex: 0 0 100px
}

.sit-single.sku-price {
  flex: 0 0 120px;
}

.row-expand {
  display: none;
}

.remove-sku, .remove-sku:hover, .remove-sku:focus, .remove-sku:active, .add-remove-link, .add-remove-link:hover, .add-remove-link:focus, .add-remove-link:active {
  display: block;
  margin: 25px 0 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.627451px;
  color: #2C4159;
}

.remove-sku img, .add-remove-link img {
  margin: -2px 2px 0 0;
}

.load-delivery-schedule p {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #2C4159;
}

.view-mo-wrapper .sit-row .sit-single {
  flex: 0 0 24%;
}

.login-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-content {
  flex: 0 0 320px;
  max-width: 320px;
  padding: 30px;
  background: #fff;
}

.login-logo {
  margin: 0 auto 20px;
  text-align: center;
}

.link-mro, .link-mro:hover, .link-mro:focus, .link-mro:active {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #2C4159;
}

.login-bottom-links {
  margin: 10px 0 0 0;
  text-align: right
}

.fp-form {
  display: none;
}

.container-details-doc-tab {
  padding: 10px;
}

.cd-doc-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0 0 0;
  border-bottom: 4px solid #F2F2F2;
}

.cdd-row-left {
  flex: 0 0 160px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.cdd-row-center {
  flex: 0 0 72%;
}

.cdd-row-right {
  flex: 0 0 160px;
}

.cd-doc-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 75%; */
}

.cd-doc-wrapper .sit-single-value {
  margin: 0 0 3px 0;
}

.doc-flag {
  flex: 0 0 20px;
}

.doc-title {
  flex: 0 0 120px;
  margin: 0 10px 0 5px;
}

.doc-title .doc-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #2C4159;
}

.doc-title .doc-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #2C4159;
}

.doc-single {
  flex: 0 0 110px;
  margin: 0 0 10px 0;
  word-break: break-all;
}

.linked-containers-table .cs-status-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.uploaded-invoices-table td .form-group {
  margin: 0;
}

.nat-content .sit-single {
  flex: 0 0 19%;
}

.page-content-wrapper.master-order-wrapper {
  float: left;
}

.scroll-content-left.master-order-left {
  width: 80%;
  float: left;
}

.scroll-content-right.master-order-right {
  width: 20%;
  float: left;
}

.delivery-schedule-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 980px;
  margin: 20px 0;
  overflow-x: scroll;
  overflow-y: auto
}

.ds-row {
  flex: 0 0 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 980px;
}

.ds-row>div {
  min-height: 46px;
  flex: 0 0 160px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #2C4159;
}

.ds-row-top>div {
  padding: 15px;
  border: 1px solid #ECEEF2;
}

.ds-row-top div.ds-month {
  padding: 15px 30px;
}

.ds-row-top div.ds-weeks {
  border-right: 0px none;
}

.ds-row-top div.ds-sku {
  border-left: 0px none;
}

/* .ds-row>div.ds-month{
  text-align:left;
} */

.ds-row>div.ds-month {
  border-right: 1px solid #E0E2E7
}

.ds-row-week {
  border-bottom: 1px solid #E0E2E7
}

.ds-row-week-header>div {
  display: flex;
  align-items: center;
}

.ds-row-week-header>div {
  justify-content: flex-end;
}

.ds-row-week-header>div.ds-weeks {
  justify-content: flex-start;
}

.scroll-content-wrapper.master-order {
  display: block;
  width: 100%;
  float: left;
  background: #fff;
}

.ds-single-wrapper {
  flex: 0 0 100%;
}

.ds-single-wrapper .ds-row>div {
  padding: 10px;
  align-self: stretch;
}

.ds-single-wrapper:nth-child(even) .ds-row>div {
  background: #F1F3F6;
}

.ds-row-header {
  border-bottom: 1px solid #E0E2E7
}

.ds-month .input-form-mro {
  width: 75%;
}

.ds-toggle-icon {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../images/expand-circle-dark.svg') no-repeat center;
  background-size: cover;
  margin: 0 5px 0 0;
}

.ds-toggle-icon.toggle {
  background: url('../images/collapse-circle-dark.svg') no-repeat center;
  background-size: cover;
}

.ds-sku .input-form-mro {
  text-align: right
}

.ds-row>div.ds-weeks, .ds-row>div.ds-weeks .input-form-mro {
  text-align: left;
}

.ds-row .input-form-mro {
  padding: 10px 8px;
  font-weight: 400;
}

.ds-row-total>div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #D8DBE1 !important;
  text-align: right !important;
  font-weight: 400;
  color: #84909D;
}

.ds-expand-content {
  display: none;
}

.title-sec-wrapper.ds-title-wrapper {
  padding: 0;
}

.title-sec-wrapper.ds-title-wrapper h3 {
  margin: 0
}

.delivery-schedule-data {
  display: none;
}

.ds-row>div span {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #2C4159;
  text-align: left;
}

.view-delivery-data .ds-month span {
  width: 75%;
}

.view-delivery-data .ds-single-wrapper .ds-row>div {
  display: flex;
  align-items: center;
}

.view-delivery-data .ds-single-wrapper .ds-row-header.ds-row>div, .view-delivery-data .ds-single-wrapper .ds-row>div.ds-sku {
  justify-content: flex-end;
}

.view-delivery-data .ds-toggle-icon {
  position: relative;
  top: 0;
  margin: 0 10px 0 0;
}

.table-striped tbody tr.total {
  background: #D8D8D8;
}

.table-striped tbody tr.total td {
  font-weight: 500;
  color: #2C4159;
}

.new-container-details {
  display: none;
}

.notification-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  background: #F1F8EF;
  border-top: 3px solid #4BBA32;
}

.notification-text {
  flex: 0 0 90%;
  max-width: 90%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2C4159;
}

.container-empty-msg {
  padding: 40px;
}

.container-empty-msg p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.246154px;
  color: #979797;
}

/*Custom radion button*/

/* The container */

.container-radio {
  display: block;
  position: relative;
  margin: 0;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2B415A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #8C9196
}

/* On mouse-over, add a grey background color */

.container-radio:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container-radio input:checked~.checkmark {
  background-color: #fff;
  border: 2px solid #2A415B
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.container-radio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.container-radio .checkmark:after {
  top: 1px;
  left: 1px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #2A415B;
}

/*Custom radion button*/

/*Custom checkbox*/

/* The container */

.container-checkbox {
  display: block;
  position: relative;
  margin: 0 0 5px 0;
  padding: 5px 0 5px 35px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #D9DEE8;
  color: #2C4159;
}

/* Hide the browser's default checkbox */

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark-checkbox {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 2px solid #8C9196;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */

.container-checkbox:hover input~.checkmark-checkbox {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked~.checkmark-checkbox {
  background-color: #2A415B;
  border: 2px solid #2A415B
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container-checkbox input:checked~.checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */

.container-checkbox .checkmark-checkbox:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Custom checkbox*/

/*Custom scrollbar*/

/* width */

.ud-list::-webkit-scrollbar, .delivery-schedule-wrapper::-webkit-scrollbar,.md-list-items::-webkit-scrollbar,.sd-list-items::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */

.ud-list::-webkit-scrollbar-track, .delivery-schedule-wrapper::-webkit-scrollbar-track, .md-list-items::-webkit-scrollbar-track, .sd-list-items::-webkit-scrollbar-track,.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.ud-list::-webkit-scrollbar-thumb, .delivery-schedule-wrapper::-webkit-scrollbar-thumb, .md-list-items::-webkit-scrollbar-thumb, .sd-list-items::-webkit-scrollbar-thumb,.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

.ud-list::-webkit-scrollbar-thumb:hover, .delivery-schedule-wrapper::-webkit-scrollbar-thumb:hover, .md-list-items::-webkit-scrollbar-thumb:hover, .sd-list-items::-webkit-scrollbar-thumb:hover,.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Custom scrollbar*/

.form-radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0 20px 0;
}

.form-radio {
  flex: 0 0 110px;
  margin: 0 10px 0 0;
}

.ud-step {
  width: 900px;
}

.upload-doc-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #D9DEE8
}

.ud-title-left {
  flex: 0 0 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.ud-title-left h3 {
  margin: 0 10px;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.5px;
  color: #2C4159;
}

.ud-title-right {
  flex: 0 0 40%;
  text-align: right;
}

.select-doc-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.sd-left, .sd-right {
  padding: 50px 20px 20px 20px;
}

.sd-left {
  flex: 0 0 50%;
}

.sd-right {
  flex: 0 0 50%;
  background: #F0F2F6;
  align-self: stretch;
}

.sd-subtitle {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.428571px;
  color: #2C4159;
}

.search-doc {
  width: 100%;
  padding: 8px 8px 8px 35px;
  background: #F9F9F9 url('../images/search-menu-icon.svg') no-repeat top 8px left 15px;
  border: 1px solid #E0E2E7;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.470588px;
  color: #7B8FA5;
}

.ud-list {
  margin: 10px 0;
  max-height: 150px;
  overflow-y: scroll;
}

.ud-list .ud-list-single:last-child .container-checkbox {
  border-bottom: 0px none;
}

.select-message {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.428571px;
  color: #2C4159;
}

.upload-doc-next {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  /* box-shadow: 0px -1px 6px rgba(142, 154, 177, 0.310042);   */
  border-top: 1px solid #B3BCC6;
}

.upload-doc-next a, .upload-doc-next button, .ud-title-right a, .ud-title-right button {
  margin-left: 5px;
}

.ud-list-doc-names .ud-list-single .container-checkbox {
  padding-left: 0;
}

.upload-fri-step-2, .upload-fri-step-3, .upload-fri-step-4, .upload-fri-step-5 {
  display: none
}

.add-sku-wrapper .sit-single.sku-pd {
  flex: 0 0 30%;
}

.add-sku-wrapper .sit-single.sku-qty, .add-sku-wrapper .sit-single.sku-price {
  flex: 0 0 130px
}

.order-details-wrapper {
  padding: 20px;
}
/*Select 2 custom styles*/
.select2-container--default .select2-selection--single {
  width: 100%;
  height: auto;
  padding: 6px 13px;
  background-color: #fff;
  border: 2px solid #ECEEF2;
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.2px;
  color: #2C4159;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding:0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
  background-image: url(../images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none
}

.select2-results__option {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #2C4159;
  border-bottom: 0px none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #E7E9ED;
  color: #2C4159;
}

.select2-container--default .select2-search--dropdown .select2-search__field {  
  padding: 5px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #687686;
  border: 0px none;
  border-bottom: 1px solid #ECEEF2;
}
.select2-dropdown{
  border: 1px solid #ECEEF2;
}
.select2-container--open .selection .select2-selection--single{
  border: 2px solid #687686;
}
/*Select 2 custom styles*/
.btn.btn-sm,.btn.btn-sm:hover,.btn.btn-sm:focus,.btn.btn-sm:active{
  border:0px none;
  outline:0px none
}
.table-hover tbody tr:nth-of-type(odd) {
    background: #F1F3F6;
}
.table-hover thead tr th,.table-hover tbody tr td,.table-striped thead tr th,.table-striped tbody tr td{
  border-top: 1px solid #E0E2E7;
  border-right: 1px solid #E0E2E7;  
}
.table thead th{
  border-bottom:1px solid #E0E2E7; 
}
.table-hover thead tr th:first-child,.table-hover tbody tr td:first-child{
  border-left: 1px solid #E0E2E7;
}
.table-hover tbody tr td:first-child,.table-striped tbody tr td:first-child{
  border-top:0px none;
}
.table-hover thead th{
  border-bottom:1px solid #E0E2E7;
}
.table-hover tbody tr:last-child td{
  border-bottom:1px solid #E0E2E7
}
.page-item.active .page-link{	
	background-color: #1F2E3F;
    border-color: #1F2E3F;
}
.dataTables_info,.page-link{
	font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.184615px;
	color:#1F2E3F
}
.menu-links li a,.menu-links li a:hover,.menu-links li a:focus,.menu-links li a:active{
  padding:4px 10px;
}
.dropdown-col-single h3{
  padding:0 10px 7px 10px
}
.dataTables_wrapper > .row > .col-sm-12{
  padding-left:0;
  padding-right:0
}
.clear-search-filter{
  margin:0 0 0 5px;
}
.filter-users .form-row{
  flex:0 0 100%;
}
.filter-users.filter-sec-wrapper select{
  margin:0 5px 5px 0;
}
.filter-users.filter-sec-wrapper .form-row.form-row-4 .form-group{
  margin:0 10px 5px 0;
}
.pagination{
  margin:0 0 30px 0;
}