h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700 !important;
}

.logo-header {
  box-shadow: 2px 0px 10px rgb(0 0 0 / 8%);
}

.sidebar-menu-icon {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.sidebar .nav>.nav-item a p, .sidebar.sidebar-style-2 .nav .nav-item a:hover p, .sidebar[data-background-color="white"] .nav>.nav-item a p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #062237 !important;
}

.main-panel .page-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page-header.page-header-btn {
  justify-content: space-between;
}

.page-title {}

.btn-dark-tlc, .btn-dark-tlc:hover, .btn-dark-tlc:focus, .btn-dark-tlc:active {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  background: #0D4B79;
  border-radius: 4px;
}

div.actions a {
  margin: 0 5px;
}

span.active {
  color: #17AA5D;
}

span.inactive {
  color: #D83C40;
}

span.client-type {
  display: inline-block;
  padding: 5px;
  color: #fff;
  background: #30A5B0;
  border-radius: 4px;
}

.page-item.active .page-link {
  background: #0D4B79;
  border-color: #0D4B79
}

.top-row-wrapper {
  margin: 15px 0 0 0;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-wrap: wrap;
}

.top-row-single {
  margin: 0 20px 30px 0;
  flex: 0 0 150px;
  max-width: 150px;
}

.top-row-title {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(6, 34, 55, 0.5);
  line-height: 24px;
}

.top-row-content {
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #062237;
}

.tabs {
  width: 100%;
  margin: 0 auto 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tabs .tabs__items {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs .tabs__items li {
  padding: 0;
  text-align: center;
}

.tabs .tabs__items li a, .tabs .tabs__items li a:hover, .tabs .tabs__items li a:focus, .tabs .tabs__items li a:active {
  display: block;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #0D4B79;
  border: 1px solid #0D4B79;
  text-decoration: none;
}

.tabs .tabs__items li a.active {
  background: #F8CB45;
}

.tabs .tabs__items li:first-child a {
  border-radius: 8px 0 0 8px;
}

.tabs .tabs__items li:last-child a {
  border-radius: 0 8px 8px 0;
}

.tab-content-wrapper {
  padding: 30px 0;
}

.form-group label, .form-check label {
  font-weight: 500;
  font-size: 14px !important;
  line-height: 24px;
  color: #000 !important;
}

.no-of-teams .form-group {
  width: 300px;
}

.team-name-list .form-group {
  width: 500px;
}

.team-name-list .form-group {
  margin: 0 15px 15px 0;
}

.form-control {
  border: 1px solid rgba(13, 75, 121, 0.3);
  border-radius: 4px;
}

.form-fields-wrapper-1, .form-fields-wrapper-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form-fields-wrapper-2 {
  margin: 20px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid rgba(6, 34, 55, 0.2);
  border-bottom: 1px solid rgba(6, 34, 55, 0.2);
}

.form-actions-wrapper {
  margin: 25px 0;
  display: flex;
  flex: 0 0 100%;
  align-items: center;
}

.form-actions-wrapper.single {
  justify-content: flex-end;
}

.form-actions-wrapper.double {
  justify-content: space-between;
}

.btn-primary {
  border: 2px solid #0D4B79 !important
}

.btn-primary:focus {
  color: #fff !important
}

.btn-primary.btn-border:focus, .btn-primary.btn-border:hover, .btn-primary.btn-border:active {
  color: #0D4B79 !important
}

.form-fields-wrapper-1.all-users-top {
  margin: 0 0 25px 0;
  justify-content: space-between;
  align-items: center;
}

.select-all-user-team {
  display: flex;
}

.all-users-top .select-all-user-team .form-group .btn {
  float: left;
  margin: 30px 0 0 0;
}
.select-all-user-team .form-group{
  width:300px !important;
}

select.form-control {
  padding: 13px 16px !important
}

.all-users-top .btn {
  float: right;
  margin: 17px 0 0 0;
}

.team-name {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.team-name span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.team-role {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid #0D4B79;
}

.team-role span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.table>tbody>tr>td, .table>tbody>tr>th {
  font-size: 13px;
}

.form-control.gameboardname {
  padding: 12px 0;
  border: 0px none;
  border-bottom: 3px dashed #0D4B79;
  border-radius: 0px;
}

.no-of-teams.game-board-settings .form-group:first-child {
  width: 450px;
}

.no-of-teams.game-board-settings .form-group:nth-child(2), .no-of-teams.game-board-settings .form-group:nth-child(3) {
  width: 230px;
}

/*Custom checkbox*/

/* The container */

.container-checkbox {
  display: block;
  position: relative;
  top: -5px;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.container-checkbox .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  /*  background-color: #eee; */
  border: 2px solid #0D4B79
}

/* On mouse-over, add a grey background color */

/* .container-checkbox:hover input~.checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked~.checkmark {
  /*background-color: #2196F3; */
  border: 2px solid #0D4B79;
  background: #0D4B79
}

/* Create the checkmark/indicator (hidden when not checked) */

.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container-checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Custom checkbox*/

.team-name-list.all-user-list {
  margin: 20px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid rgba(6, 34, 55, 0.2);
  border-bottom: 1px solid rgba(6, 34, 55, 0.2);
}

.role-level-wrapper {
  margin: 20px 0;
  padding: 40px 20px;
  background: #F0F0F1;
  border-radius: 12px;
}

.rl-contaner {
  margin: 0 0 75px;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.rl-contaner:last-child {
  margin: 0;
}

.rl-contaner .form-group.initial {
  width: 300px;
}

.rl-contaner .form-group.initial select {
  background: transparent
}

.form-group.designation-single {
  width: 140px;
  margin: 0 10px 0 0
}

.form-group.designation-single .designation-single-title {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: rgba(13, 75, 121, 0.5);
  border-bottom: 2px dashed rgba(13, 75, 121, 0.5);
}

.form-group.designation-single select {
  margin: 0 0 8px 0;
  font-size: 12px !important;
  padding: 10px 12px !important;
  background: transparent
}

.role-level-outer {
  margin: 20px 0 0 0;
  padding: 0;
  border-top: 1px solid rgba(6, 34, 55, 0.2);
  border-bottom: 1px solid rgba(6, 34, 55, 0.2);
}

.board-settings-title h2 {
  margin: 0;
  font-weight: 600;
  font-size: 21px;
  line-height: 20px;
  color: #062237;
}

.board-settings-outer {
  margin: 10px 0 0 0;
  padding: 0;
  border-top: 3px solid #0D4B79;
  border-bottom: 1px solid rgba(6, 34, 55, 0.2);
}

.board-settings-wrapper {
  margin: 20px 0;
  padding: 40px 20px;
  background: #F0F0F1;
  border-radius: 12px;
}

.board-settings-wrapper h3 {
  margin: 0 0 20px 0;
  padding: 0 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #062237;
}

.board-settings-single {
  margin: 0 0 15px 0;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.board-settings-single .form-group {
  width: 280px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.board-settings-single .form-group .form-control {
  background: transparent
}
.dataTables_length select{
  padding:7px !important
}
div.dataTables_wrapper div.dataTables_length select{
  width:60px;
}
@media (min-width:992px) and (max-width:1199px) {
  .top-row-single {
    margin: 0 20px 30px 0;
    flex: 0 0 17%;
    max-width: 17%;
  }
  .no-of-teams .form-group {
    width: 220px;
  }
}

@media (min-width:768px) and (max-width:991px) {}

@media (max-width:767px) {
  .top-row-single {
    margin: 7px;
    flex: 0 0 45%;
    max-width: 45%;
  }
}
.displaynone{
  display:none;
}
/* hide sorting icon from datatable */
table.dataTable thead .sorting:before,table.dataTable thead .sorting:after{
  display:none !important;
}
label.error {
  color: #F25961 !important;
  font-size: 13px !important;
  margin-top: .5rem;
}
.table-action-cls{
  width:100px !important;
}
.listing-img{
  width:70px;
  height:70px;
  padding:5px;
  border-radius: 50%;
}
.mt25{
  margin-top:25px !important;
}
.bg-theme-custom{
  background: #0d4b79 !important;
}
.status-inactive{
  color:#D83C40;
}
.status-active{
  color:#17AA5D;
}
.table.dynamicTable th{
  /* background: #cdcdcd6b; */
}
.profile-img{
  border:1px solid #cdcdcd;
  width:100px;
  height:100px;
  margin: 0px auto;
  border-radius:50px;
}
.div-center{
  margin:0px auto;
  float:none;
}
.width50{
  width:50% !important;
}
.table-borderless tr,.table-borderless tr td,.table-borderless th td{
  border:0px !important;
}
.clearfix{
  clear:both;
}
.status-cls{
  cursor:pointer;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 9;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  top: 40px;
  left: 15px;
}

.search-input-all-user{
  height: 44px !important;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 5px !important;
  padding-top: 6px;
}

/* custom code by arul */
.team-employees-list{
  padding-top: 20px;
    border-top: 1px solid rgba(6, 34, 55, 0.2);
}
.btn-border-primary{
  border:1px solid #0d4b79;
  color:#0d4b79;
  font-weight:600;
}
.btn-border-primary:hover{
  background:#0d4b79;
  color:#fff;
}
.p0{
  padding:0px !important;
}
.member-type-cls{
  padding: 7px 10px 7px 10px;
  border-color: #cdcdcd;
  border-radius: 5px;
}
.member-remove-icon{
  cursor: pointer;
}
/* .member-remove-icon.fa.fa-remove{
  float: right;
  padding: 0px 4px;
  color: red;
  font-size: 20px;
  cursor: pointer;
} */
.team-member-list-cls ul{
  line-height: 30px;
  padding: 0px 25px;
  list-style-type:none;
}
label.error{
  /* position: absolute; */
}
.panel{
  background:#fff;
}
.rlt-border-0{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.text-danger{
  color:red !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 1em !important;
  content: "\2191" !important;
  font-size: 15px !important;
  display:block !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em !important;
  content: "\2193" !important;
  font-size: 15px !important;
  display:block !important;
}