@media (min-width:1441px) {
 
}

@media(max-width:1440px) {}

@media (min-width:992px) and (max-width:1280px) {
}

@media (min-width:1280px) and (max-width:1440px) {
  
}
@media (max-width:1230px){
  .cs-status-wrapper{
    flex:0 0 79%;
  }
}
@media (min-width:1200px) and (max-width:1280px) {
  
}

@media (max-width:1199px) {
  .cdd-row-center {
    flex: 0 0 65%;
  }
 .vertical-scroll-links{
   padding-left:0;
 }
}

@media (min-width:992px) and (max-width:1199px) {
  .select-large,.select-medium,.select-small{
    width:90px;
  }
}

@media (min-width:992px) {
 
}

@media (max-width:991px) {
}

@media (min-width:768px) and (max-width:991px) {
  
}

@media (max-width:767px) {
  
}

@media (min-width:575px) and (max-width:767px) {
  
}

@media (min-width:820px) and (max-width:991px) {
  
}

@media (max-width:359px) {
  
}